body{
    background-color: blue;
}

.contenedor{
    display: grid;
    grid-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: auto auto;
    grid-auto-rows:minmax(100px, auto);
    width: 80vw;
    margin: 0 auto;
    background-color: aqua;
    text-align: center;
    border-radius: 10px;


}

.elemento{
    font-size: 2em;
    text-align: center;
    border: 2px solid black;
    border-radius:10px;
    background-color: blanchedalmond;

}